.header{
    display:flex;
    justify-content:space-between;
    background-color:rgb(45,45,45);
    color:rgb(177, 177, 177);
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.952) 0px -50px 10px -50px inset;
}
.icons{
    width:100px;
    height:100px;
}
.header-part{
    border-radius: 50%;
    padding:10px 30px 0px 30px;
    background-color:rgba(50, 50, 50, 0.696)
}
.one:hover,.two:hover,.three:hover,.four:hover,.five:hover,.six:hover,.seven:hover,.eight:hover,.nine:hover{
    background-color:rgba(62, 62, 62, 0.696)
}
.bar{
    display:flex;
    justify-content:center;
    background-color:rgb(45,45,45);
    color:rgb(177, 177, 177);
    border-bottom: 10px solid rgb(101, 100, 100);;
}
.bar-part{
    width:130px;
}
.part1:hover,.part2:hover,.part3:hover,.part4:hover{
    font-weight:bold;
}
.head-pos{
    position:absolute;
    bottom:10px;
    left:16px;
    background-color:rgba(0, 0, 0, 0.592);
    width: 100%;
    margin-left: -17px;
    margin-bottom: -10px;
}

.highlight{
    width:300px;
    height:400px;
    position: relative;
    text-align: center;
    color:rgb(177, 177, 177);
}
.highlight-image{
    width:300px;
    height:400px;
}
.highlight-flex,.highlight-flex1{
    display:flex; 
    padding:0px 10px 0px 10px;
}
.highlight-flex{
    justify-content: space-between;
}
.main{
    display: flex;
    width:60%;
    justify-content:space-between;
    margin-top: 10px;
}
.sub-high{
padding:0px 15px 5px 15px;
margin-right: 10px;
border-radius: 3px;
background-color:rgba(245, 245, 245, 0.218)
}
.highlight-main{
    background-color:rgb(45,45,45);
}
.highlight-head{
    text-align:left;
    color:rgb(177, 177, 177);
    margin:0px;
    padding: 10px 0px 10px 0px;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 100px;
    margin-left:5px;
}